@import "~bootstrap/scss/bootstrap";

#tableWrapper {
  overflow-x: scroll;
}

.coordinatesTable {
  padding: 10px;
  background-color: rgba(127, 177, 127, 0.38);

  .container-fluid {
    padding: 0px;
  }

  .table-header {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .table-component {
    thead {
      background: #6c976c;

      th {
        padding: 5px;
        text-transform: uppercase;
      }
    }

    tbody {
      tr:first-of-type {
        td {
          padding-top: 10px;
        }
      }

      tr:last-of-type {
        td {
          padding-bottom: 12px;
        }
      }
    }

    tfoot {
      background: #6c976c;

      #current-row-number,
      #current-page-number {
        padding: 2px;
      }

      #itemsPerPageText {
        padding-left: 5px;
      }

      #previous-button {
        margin-right: 8px;
        margin-left: 1px;
      }

      #next-button {
        margin-left: 8px;
        margin-right: 1px;
      }

      tr {
        text-transform: uppercase;
        padding-top: 10px;

        td {
          padding: 8px;
          padding-bottom: 2px;
          color: #ffffff;
        }
      }
    }

  }
}


.n-table-pagenum {
  display: inline-block;
  margin: 0 auto;
  button {
    float: left;
  }
  span {
    float: left;
  }
  input {
    float: left;
    width: 40px;
    height: 27px;
  }
}

.n-table-pageselect {
  float: right;
  input {
    width: 70px !important;
  }
  .n-table-pagecombox {
    float: left;
  }
  .n-table-suffix {
    float: left;
  }
}

.n-table tfoot td {
  width: 100%;
  text-align: center;
}

.icon-first:before {
  content: "\e070";
  color: rgba(0, 100, 0, 0.5);
}

.icon-back:before {
  content: "\e071";
  color: rgba(0, 100, 0, 0.5);
}

.icon-next:before {
  content: "\e075";
  color: rgba(0, 100, 0, 0.5);
}

.icon-last:before {
  content: "\e076";
  color: rgba(0, 100, 0, 0.5);
}

.n-table thead {
  background-color: rgba(0, 100, 0, 0.5);
  color: #f5f8fb;
}

.n-table thead tr > th:last-child {
  display: none;
}

.n-table tbody tr {
  background-color: rgba(204, 204, 204, 0.25);
}

.n-table tbody tr > td:last-child {
  display: none;
}

.buttons {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}